.xq-custom-audio-player {
    .custom-audio {
      width: 330px;
      height: 24px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid rgba($color: #000000, $alpha: 0.08);
      border-radius: 2px;
      background-color: rgba($color: #000000, $alpha: 0.02);
      padding-top: 1px;
      .audio-control {
        cursor: pointer;
        padding: 0 4px;
        color: #4c5882;
        font-size: 16px;
      }
      .audio-control-vol-box {
        flex-shrink: 0;
        display: flex;
        border-radius: 9px;
        align-items: center;
        box-sizing: border-box;
        height: 18px;
        transition: all 0.2s linear;
        margin-left: 4px;
        width: 24px;
        overflow: hidden;
        justify-content: flex-end;
        .audio-control-vol {
          height: 18px;
          border-radius: 9px;
          display: none;
          align-items: center;
          span {
            color: #4c5882;
          }
          .el-slider {
            width: 6px;
            transition: all 0.2s linear;
             .el-slider__button {
              width: 9px;
              height: 9px;
              border-radius: 50%;
              border: none;
              filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
            }
             .el-slider__bar {
              background-color: rgba($color: #0583f8, $alpha: 0.6);
            }
          }
        }
      }
      .audio-control-vol-box:hover {
        padding-left: 8px;
        width: 92px;
        background-color: #dddddd;
        .vol {
          margin-left: 4px;
        }
      }
      .audio-control-vol-box:hover .audio-control-vol {
        display: flex;
        .el-slider {
          width: 60px;
        }
      }
      .el-slider {
        width: 120px;
        height: 6px;
         .el-slider__runway {
          margin: 0;
        }
         .el-slider__button {
          width: 18px;
          height: 12px;
          border-radius: 9px;
          border: none;
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
        }
         .el-slider__bar {
          background-color: rgba($color: #0583f8, $alpha: 0.6);
        }
         .el-slider__runway {
          background-color: rgba($color: #000000, $alpha: 0.08);
        }
      }
      > .el-slider {
         .el-slider__button {
          position: relative;
          i {
            position: absolute;
            left: 3px;
            font-size: 12px;
            color: #e6e6e6;
          }
        }
      }
      span {
        color: #7b8ac0;
        display: inline-block;
        font-size: 12px;
        margin: 0 18px 0 4px;
        flex-shrink: 0;
      }
      .download {
        margin-right: 0;
        text-decoration: none;
        flex-shrink: 0;
      }
      .vol {
        flex-shrink: 0;
      }
      .speed {
        margin-left: 8px;
        min-width: 42px;
        font-size: 12px;
        position: relative;
        .speed-icon {
          // transition: all .3s ease;
          &.rotate {
            transform: rotate(180deg) scale(0.8);
          }
        }
        i {
          transform: scale(0.8);
          font-size: 10px;
          margin-left: 2px;
        }
        .speedBox {
          padding: 0 8px;
          display: flex;
          justify-content: space-between;
          top: -35px;
          left: -125px;
          position: absolute;
          background: #fff;
          box-shadow: -1px 0px 4px 0px rgba(186, 186, 186, 0.25);
          border-radius: 2px;
          opacity: 1;
          z-index: 2;
          width: 214px;
          height: 25px;
          .down {
            width: 8px;
            height: 8px;
            display: inline-block;
            transform: rotate(45deg);
            background: #fff;
            position: absolute;
            bottom: -4px;
            left: 66%;
            box-shadow: -1px 0px 4px 0px rgba(186, 186, 186, 0.25);
          }
          .sanjiao {
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top: 5px solid #ddd;
            position: absolute;
            bottom: -10px;
            left: 66%;
            transform: translateX(-50%);
          }
          .speed-list {
            line-height: 25px;
            color: #000;
            text-align: center;
            display: inline-block;
            position: relative;
            background: #fff;
            z-index: 2;
          }
          .speed-list:hover {
            color: #0583f8ff;
          }
          .active {
            color: #0583f8ff;
          }
        }
      }
    }
    .origin-audio {
      display: none;
    }
  }