@import "font.css";

$n: 5;
$list: 0,0.4,0.8, 1, 2, 3,3.2, 4, 5, 6, 7, 8, 9, 10,12;
@each $i in $list {
  .xq-pl#{$i * $n} {padding-left: $i * $n + px}
  .xq-pr#{$i * $n} {padding-right: $i * $n + px}
  .xq-pt#{$i * $n} {padding-top: $i * $n + px}
  .xq-pb#{$i * $n} {padding-bottom: $i * $n + px}
  .xq-p#{$i * $n} {padding: $i * $n + px}
  .xq-ml#{$i * $n} {margin-left: $i * $n + px}
  .xq-mr#{$i * $n} {margin-right: $i * $n + px}
  .xq-mt#{$i * $n} {margin-top: $i * $n + px}
  .xq-mb#{$i * $n} {margin-bottom: $i * $n + px}
  .xq-m#{$i * $n} {margin: $i * $n + px}
}
.xq-por {
  position: relative;
}
.xq-poa {
  position: absolute;
}
.xq-w100 {
  width: 100%;
}
.xq-h100 {
  height: 100%;
}
.xq-b0 {
  bottom: 0;
}
.xq-l0 {
  left: 0;
}
.xq-flex {
  display: flex;
  align-items: center;
}
.xq-flex-auto {
  flex: auto;
}
.xq-flex-none {
  flex: none;
}

.xq-cursor-pointer {
  cursor: pointer;
}
.xq-mr10 {
  margin-right: 10px;
}
.xq-f16 {
  font-size: 16px;
}

.xq-flex-center {
  justify-content: center;
}
.xq-over-auto {
  overflow: auto;
}
.xq-flex-column {
  flex-direction: column;
  align-items: stretch;
}
.xq-over-hide {
  overflow: hidden;
}
.xq-flex-end {
  justify-content: flex-end;
}
.xq-t0 {
  top: 0;
}
.xq-mr8 {
  margin-right: 8px;
}
.xq-f12 {
  font-size: 12px;
}
.xq-font-color1 {
  color: #333;
}
.xq-mr12 {
  margin-right: 12px;
}
.xq-ml12 {
  margin-left: 12px;
}
.xq-font500 {
  font-weight: 500;
}
.xq-text-center {
  text-align: center;
}
.xq-f14 {
  font-size: 14px;
}
.xq-ml16 {
  margin-left: 16px;
}
.xq-border-bottom {
  border-bottom: 1px solid #ccc;
}
.xq-nowrap {
  white-space: nowrap;
}
.xq-color-usual-blue {
  color: #0583F8;
}
.xq-rotate180 {
  transform: rotate(180deg);

  &.img-fit {
    transform: translateY(3px) rotate(180deg);
  }
}
.xq-transition {
  transition: all .2s linear;
}
.xq-slide-fadeTop-enter{
  opacity: 0;
}
.xq-slide-fadeTop-enter-active {
  transition: all .2s ease 0.2s;
}
.xq-slide-fadeTop-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.xq-slide-fadeTop-enter
  /* .slide-fadeTop-leave-active for below version 2.1.8 */ {
  transform: translateY(10px);
}
.xq-slide-fadeTop-leave-to{
  transform: translateY(-10px);
  opacity: 0;
}
.xq-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.xq-flex-inline {
  display: inline-flex;
  align-items: center;
}
.xq-tag-container {
  padding: 0 7px;
  height: 24px;
  background-color: rgba(15, 105, 217, 0.2);
  color: #0583F8;
  border-radius: 2px;
  font-size: 14px;
}
.xq-text-left {
  text-align: left;
}
.xq-font-color3 {
  color: #888;
 }
