@font-face {
    font-family: "iconfont-xq-design"; /* Project id 4366563 */
    src: url('font/iconfont.woff2?t=1702194485350') format('woff2'),
    url('font/iconfont.woff?t=1702194485350') format('woff'),
    url('font/iconfont.ttf?t=1702194485350') format('truetype'),
    url('font/iconfont.svg?t=1702194485350#iconfont') format('svg');
}
.iconfont-xq-design {
    font-family: "iconfont-xq-design" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
