.xq-multiple-select {
  .xq-text-input {
    border: 1px solid #ccc;
    height: 32px;
    box-sizing: border-box;
    line-height: 32px;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &.focus {
      box-shadow: 0px 2px 4px 0px rgba(213, 226, 242, 1);
      border-color: #0583F8;
    }
  }
  .xq-text-input:hover {
    box-shadow: 0px 2px 4px 0px rgba(225, 229, 235, 1);
  }
  .xq-rotate-arrow {
    color: #c0c4cc;
  }
}
.xq-popper-multi-select {
  box-sizing: border-box;
  .el-checkbox {
    color: #333;
    display: block;
    line-height: 30px;
  }
}
